.cardContainer {
  display: flex;
  flex-direction: column;
  /* background-color: gray; */

  flex: 0 0 50%;

  cursor: pointer;
}

.imageContainer {
  height: 0;
  padding-bottom: 56.25%;
}


.iconContainer {
  position: absolute;
  top: calc(50% - 12px);
}