.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: gray;

  width: 300px;
  height: 150px;
}

.imgContainer {
  height: 0;
  padding-bottom: 52.25%;
}

.contentContainer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.img {
  left: 50%;
  right: auto;
  top: 50%;
  bottom: auto;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: calc(100% + 2px);
}