@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #141414;
  color: #FFF;
}

input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/* automatically added by NavLink component */
.active {
  font-weight: bold;
}

nav {
  color: #fff;
  background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%, transparent);
  z-index: 1000;
}

.site-name {
  background: linear-gradient(to right, #E3498B, #9D6BA9,  #8874B4, #6685C3, #16ACE5);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
